{% extends 'buses/base.html' %}
{% load static %}

{% block content %}
  <div class="navbar">
     <div class="navbar__link-brand">Find Way</div>
     <div class="navbar__link-toggle">
         <i class="fas fa-bars"></i>
</div>
        <div class="navbar__items">
           
           <div class="navbar__link"><a href="">home</a></div>
      
           <div class="navbar__link"><a href="#"><span class="glyphicon glyphicon-user"></span>profile</a></div>
           <div class="navbar__link"><a href="{% url 'userlogout' %}"><span class="glyphicon glyphicon-user"></span>logout</a></div>
        </div>
</div> 
<h3 style="color: orange;">Sorted Based on distance from present location</h3>
{% for obj in form %}
<div class="content-section" style="font-size: 15px;">
	<ul>
<h3>{{ obj.id }}</h3>
<li><p>BUS_ID:<a href="/bus/{{obj.id}}/"> {{obj.name}}</a></p></li>

<li><p>ADDRESS:{{obj.address}}</p></li>

<li><p>DISTANCE:{{obj.distance}}</p></li>
</ul>
----------------------------------------------------------

</div>


{% endfor %}


{% endblock %}


