{% extends 'buses/base.html' %}

{% block content %}
  <div class="navbar">
     <div class="navbar__link-brand">Find Way</div>
     <div class="navbar__link-toggle">
         <i class="fas fa-bars"></i>
</div>
        <div class="navbar__items">
           
           <div class="navbar__link"><a href="">home</a></div>
      
           <div class="navbar__link"><a href="#"><span class="glyphicon glyphicon-user"></span>profile</a></div>
           <div class="navbar__link"><a href="{% url 'userlogout' %}"><span class="glyphicon glyphicon-user"></span>logout</a></div>
        </div>
</div> 

<legend></legend>

{% for obj in form %}
<div class="content-section">
	<ul>


<li><p>BUS_ID:<a href="/bus/{{obj.id}}/"> {{obj.name}}</a></p></li>

<li><p>ADDRESS:{{obj.address}}</p></li>

<li><p>DISTANCE:{{obj.distance}}</p></li>




</ul>


</div>
<legend></legend>





{% endfor %}


{% endblock %}


