{% extends 'buses/base.html' %}
{% block content %}
<h2 style="text-align: center;color: orange;margin-left:0px;
    margin-top: 150px; ">Login</h2>

<div style="width: 400px;    margin-left: 100px;
    margin-top: 10px; ">
<form action="/userauthenticate/" method="post">
	{% csrf_token %}
	<h3 style="color: orange;"> Username</h3>
	<input class = " form-control" type="text" name="username" placeholder="username">
	<h3 style="color: orange;">password:</h3>
	<input class="form-control" type="password" name="password" placeholder="password">
	<input type="submit" value="Login" style="margin-left: 170px; margin-top: 30px;" name="Login" class="btn btn-success">
</form>
</div>

{% for message in messages %}
<p> {{ message }}</p>
{% endfor %}

{% endblock %}